%div
  - # ruleid: button-class-haml-rb
  .gl-button
    I am such a bad button
  - # ruleid: okay-button-view-component-haml
  = render Pajamas::ButtonComponent.new

  - # ruleid: button-deprecated-variant, button-class-haml-rb
  %button.gl-button.btn-info
  - # ruleid: button-deprecated-variant, button-class-haml-rb
  %button.gl-button.btn-warning
  - # ruleid: button-deprecated-variant, button-class-haml-rb
  %button.gl-button.btn-success
