= form_for foo do |f|
  -# ruleid: colorpicker-color-input-haml
  = f.text_field :color, class: "gl-form-input form-control qa-label-color"
  -# ruleid: colorpicker-suggested-colors-haml
  = render_suggested_colors
