<template>
  <section class="gl-h-full gl-display-flex gl-flex-direction-column gl-gap-6">
    <h2 class="gl-font-size-h2">Findings in latest master</h2>

    <div class="gl-flex-shrink-0">
      <gl-toggle v-model="groupByComponent" label="Group by component" />
    </div>

    <scan-tree-map
      v-if="scan"
      :scan="scan"
      :group="groupByComponent"
      class="gl-flex-grow-1 gl-min-h-0 gl-flex-basis-0"
    />
  </section>
</template>

<script>
import GlToggle from '@gitlab/ui/src/components/base/toggle/toggle.vue';
import ScanTreeMap from '~/components/scan_tree_map.vue';
import { getCurrentScan } from '~/lib/api';

export default {
  name: 'IndexPage',
  components: {
    GlToggle,
    ScanTreeMap,
  },
  data() {
    return {
      scan: null,
      groupByComponent: true,
    };
  },
  async mounted() {
    this.scan = await getCurrentScan();
  },
};
</script>
