%div
  - # ruleid: breadcrumb-class-haml
  .gl-breadcrumbs
    Just some stale breadcrumbs
  - # ruleid: breadcrumb-class-haml
  %li{class: "foo gl-breadcrumb-item bar"}
    Breadcrumb
  - # ruleid: breadcrumb-class-haml
  %ul.breadcrumb.repo-breadcrumb
  - # ruleid: breadcrumb-class-haml
  %nav.breadcrumbs{ class: [container, @content_class], 'aria-label': _('Breadcrumbs') }
  - # ruleid: breadcrumb-class-haml
  .breadcrumbs-links{ data: { testid: 'breadcrumb-links', qa_selector: 'breadcrumb_links_content' } }
