<script>
import {
  // ruleid: okay-breadcrumb-vue-component
  GlBreadcrumb
} from '@gitlab/ui';

export default {
  components: {
    GlBreadcrumb
  },
  computed: {
    classes() {
      // ruleid: breadcrumb-class-vue
      return ['gl-breadcrumbs']
    },
    isBreadcrumb(){
      return true;
    }
  }
}
</script>
<template>
  <div>
    <!-- ok: breadcrumb-class-vue -->
    <gl-breadcrumb>
      We're good breadcrumbs
      <!-- ok: breadcrumb-class-vue -->
    </gl-breadcrumb>
    <!-- ruleid: breadcrumb-class-vue -->
    <ul class="gl-breadcrumbs">
      We're bad breadcrumbs here
      <!-- ruleid: breadcrumb-class-vue -->
      <li class="gl-breadcrumb-item">
        Breadcrumb 1
      </li>
      <!-- ruleid: breadcrumb-class-vue -->
      <li :class="{ 'gl-breadcrumb': isBreadcrumb }">
        Breadcrumb 2
      </li>
      <!-- ruleid: breadcrumb-class-vue -->
      <li class="chevron gl-breadcrumb-separator">
        Bad breadcrumbs' separator
      </li>
      <!-- ruleid: breadcrumb-class-vue -->
      <li class="last breadcrumb">
        Yet another bad breadcrumb
      </li>
    </ul>
  </div>
</template>
