<template>
  <div class="gl-h-full gl-display-flex gl-flex-direction-column gl-overflow-hidden">
    <header class="gl-flex-shrink-0 gl-px-6 gl-pt-4">
      <h1 class="gl-font-size-h1">
        <img src="~/assets/images/pajamas_logo.svg" alt="" class="pajamas-logo" />
        Pajamas Adoption Scanner Dashboard
      </h1>
    </header>

    <main class="gl-flex-grow-1 gl-p-6">
      <nuxt />
    </main>
  </div>
</template>

<script>
export default {
  name: 'DefaultLayout',
};
</script>
