<template>
  <gl-chart responsive width="auto" height="auto" :options="options" />
</template>

<script>
import GlChart from '@gitlab/ui/src/components/charts/chart/chart.vue';
import TreeMapTooltip from '~/components/tree_map_tooltip.vue';
import { scanToTreeMapSeries } from '~/lib/treemap';
import { domFromComponent } from '~/lib/dom';

export default {
  name: 'ScanTreeMap',
  components: {
    GlChart,
  },
  props: {
    /**
     * The semgrep JSON scan output.
     */
    scan: {
      type: Object,
      required: true,
    },

    /**
     * Whether or not to group by component.
     */
    group: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    options() {
      return {
        series: scanToTreeMapSeries(this.scan, { group: this.group }),
        tooltip: {
          formatter(info) {
            return domFromComponent(TreeMapTooltip, { info });
          },
        },
      };
    },
  },
};
</script>
