<template>
  <div>
    <div>{{ path }}</div>
    <div>
      <b>{{ count }}</b> findings
    </div>
  </div>
</template>

<script>
export default {
  name: 'TreeMapTooltip',
  props: {
    /**
     * The info argument passed to eChart's tooltip.formatter function.
     */
    info: {
      type: Object,
      required: true,
    },
  },
  computed: {
    count() {
      return this.info.data.value;
    },
    path() {
      const { treePathInfo } = this.info;

      return treePathInfo.map((node) => node.name).join(' / ');
    },
  },
};
</script>
