%div
  - # ruleid: card-class-haml
  .card
  - # ruleid: card-class-haml
  %div{class: "one card three"}
  - # ruleid: gl-card-class-haml
  .gl-card
  - # ruleid: gl-card-class-haml
  %div{class: 'gl-card'}
  - # ruleid: gl-card-class-haml
  %div(class="gl-card")
  - # ruleid: okay-card-view-component-haml
  = render Pajamas::CardComponent.new
