%div
  - # ruleid: avatar-class-haml
  .gl-avatar
    I am such a bad avatar
  - # ruleid: avatar-class-haml
  .gl-avatars-inline
    We're bad inline avatars
  - # ruleid: avatar-class-haml
  .gl-avatar-link
    I am a bad avatar link
  - # ruleid: avatar-class-haml
  .gl-avatar-labeled
    I am labeled but still bad
  - # ruleid: avatar-class-haml
  = project_icon(project, alt: '', class: 'project-avatar gl-avatar-labeled s40', width: 40, height: 40)
  - # ruleid: avatar-class-haml
  = project_icon(project, alt: '', class: "gl-avatars-inline")
  - # ruleid: avatar-custom-implementation-haml
  = image_tag avatar_icon_for_user(@user, 60, current_user: current_user), class: "avatar s60"
  - # ruleid: avatar-custom-implementation-haml
  = author_avatar(@commit, size: 24, has_tooltip: false)
  - # ruleid: avatar-custom-implementation-haml
  %span{ class: ['avatar-container', 'settings-avatar', 'rect-avatar', 's32'] }
    = sprite_icon('admin', size: 18)
  - # ruleid: avatar-custom-implementation-haml
  = commit_committer_link(@commit, avatar: true, size: 24)
  - # ruleid: avatar-custom-implementation-haml
  = commit_author_link(commit, avatar: true, size: 24)
  - # ruleid: avatar-custom-implementation-haml
  = user_avatar(user: deployment.deployed_by, size: 26, css_class: "mr-0 float-none")
  - # ruleid: avatar-custom-implementation-haml
  = user_avatar_without_link(user: user, lazy: avatar[:lazy], url: avatar[:url], size: 40, has_tooltip: false)
  - # ruleid: avatar-custom-implementation-haml
  %img.mail-avatar{ height: "60", src: avatar_icon_for_user(member.created_by, 60, only_path: false), width: "60", alt: "" }
  - # ruleid: avatar-custom-implementation-haml
  = link_to_member(@project, assignee, name: false, title: s_("MrList|Assigned to %{name}") % { name: assignee.name})
  - # ruleid: avatar-custom-implementation-haml
  = source_icon(scope_menu.container, alt: scope_menu.title, class: ['avatar', 'avatar-tile', 's32'], width: 32, height: 32)
